<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leesangyoon.appproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.example.leesangyoon.appproject.volley">

        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".CreateNursingHome"/>
        <activity android:name=".ViewWorker"/>
        <activity android:name=".CreateWorker"/>
        <activity android:name=".EditWorker"/>
        <activity android:name=".SettingNursingHome"/>
        <activity android:name=".Profile"/>
        <activity android:name=".Intro"/>
        <activity android:name=".Notice"/>
        <activity android:name=".Gallery"/>
        <activity android:name=".Schedule"/>
        <activity android:name=".QA"/>
        <activity android:name=".ShowArticle" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="EditArticle"/>
        <activity android:name=".EditGallery"/>
        <activity android:name=".ShowGallery"/>
        <activity android:name=".AdminPatient"/>
        <activity android:name=".CreatePatient"/>
        <!--android:parentActivityName=".MainActivity"-->
    </application>

</manifest>