<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leesangyoon.appproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden"
        android:name="com.example.leesangyoon.appproject.volley">

        <activity android:name=".Login" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".CreateNursingHome" android:label="요양원등록"/>
        <activity android:name=".ViewWorker" android:label="요양사목록"/>
        <activity android:name=".CreateWorker" android:label="요양사추가"/>
        <activity android:name=".EditWorker" android:label="요양사정보"/>
        <activity android:name=".SettingNursingHome" android:label="요양원정보"/>
        <activity android:name=".Profile" android:label="프로필"/>
        <activity android:name=".Intro" android:label="소개"/>
        <activity android:name=".Notice" android:label="공지사항"/>
        <activity android:name=".Gallery" android:label="갤러리"/>
        <activity android:name=".Schedule" android:label="일정"/>
        <activity android:name=".QA" android:label="질문/답변"/>
        <activity android:name=".ShowArticle" android:label="게시글 정보" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name="EditArticle" android:label="글 작성/수정"/>
        <activity android:name=".EditGallery" android:label="갤러리 작성/수정"/>
        <activity android:name=".ShowGallery" android:label="갤러리 정보" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".AdminPatient" android:label="수급자관리"/>
        <activity android:name=".CreatePatient" android:label="수급자등록"/>
        <activity android:name=".ShowPatient" android:label="수급자정보"/>
        <activity android:name=".EditPatient" android:label="수급자기록"/>
        <activity android:name=".EditCategory" android:label="카테고리 수정"/>
        <!--android:parentActivityName=".MainActivity"-->
    </application>

</manifest>